@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    0% {
        left: -40%;
    }

    100% {
        left: 100%;
    }
}

/* Custom styles */
.glossy-bubble {
    background: linear-gradient(135deg, #4facfe 0%, #137fec 100%);
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.4),
        inset -2px -2px 5px rgba(0, 0, 0, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.2);
}